* {
  box-sizing: border-box;
}

body {
  background:  #FFE4E1; 
  font-size: 16px;
  font-family: 'Cutive Mono', monospace;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  color: black;
}

header {
  text-align: center;
}

.js-search-results {
  font-family: 'Cutive Mono', monospace;
}

.title {
  font-size: 80px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: black;
}

main {
  margin-top: 50px;
}

a {
  color: #1b7742;
}

input:required {
    box-shadow:none;
}

.js-search-form input:focus,
.js-search-form button:focus {
  outline: 5px dotted rgb(17, 110, 12);
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 50px;
  }

  img {
    height: 150px;
  }

  body {
    font-size: 12px;
  }
}